
//# Home page sections have a general row padding thats large.

.features-section,
.portfolio-section,
.bio-excerpt-section,
.contact-form-section,
.contact-form__container {
    padding: $section-row-padding;
}

.portfolio-section {

    .navbar-custom-1 {
        margin-bottom: ($spacing-base * 2);
    }
}

.bio-excerpt-section {

    .column {
        padding: 0 ($spacing-base * 2);
    }

    img {
        padding: $spacing-base;
    }

    .headline__divider {
        margin-bottom: $spacing-base * 3;
    }

    h6 {
        margin: $spacing-sm 0 ($spacing-base * 2);
    }

    p {
        margin-bottom:  ($spacing-base * 2);
    }
}
