
.features-section {
    padding: ($spacing-lg * 5) 0 ($spacing-lg * 7) 0;
}

.portfolio-section {
    padding-bottom: ($spacing-base * 4);

    .navbar-custom-1 {
        margin-bottom: ($spacing-base * 2);
    }
}

.bio-excerpt-section {
    padding: ($spacing-base * 6) 0;

    .column {
        padding: 0 ($spacing-base * 2);
    }

    img {
        padding: $spacing-base;
    }

    .headline__divider {
        margin-bottom: $spacing-base * 3;
    }

    h6 {
        margin: $spacing-sm 0 ($spacing-base * 2);
    }

    p {
        margin-bottom:  ($spacing-base * 2);
    }
}

.contact-form-section {
    padding-top: $spacing-base * 6 ;
}

