// Custom 1 = bg : black & text : white, hover = light green bg & white text.

.btn-custom-1 {
    padding: $spacing-base ($spacing-base * 2);
    background: $dark;
    border-color: $dark;
    font-weight: bold;
    color: $light;
    letter-spacing: 1.5px;
    font-size: $font-size-base;
    border-radius: 0;
    transition: all 0.5s;

        @include mediaQ-max($bp-sm) {
           padding: $spacing-sm $spacing-lg;
           font-size: $font-size-sm;
        }

        &:hover {
            background: $primary-color;
            border-color: $primary-color;
            color: $light;
        }
}

.btn-clear {
    background: none;
    border: none;
    font-size: $font-size-md;
    text-transform: uppercase;
    font-weight: 600;
}

//-----------------------------------------

// Burger menu style

//# curr.header-menu-btn

.btn-custom-2 {
    border-radius: 100%;
    border: 2px solid $primary-color;
    padding: 13px 10px;
    
    &.navbar-toggle {
        border-color: $primary-color;
    }
}

//---------------------------------------

// Portfolio feature items, btn seen in overlay.

.btn-custom-3 {
    border: 1px solid $light;
    border-radius: 100%;
    padding: 6px 5px 3px 8px;
    margin-left: 15px;
    font-size: $font-size-base;
    transition: all 0.25s;

        &:hover {
            border: 1px solid $dark;
            color: $dark;
            cursor: pointer;
        }
}

//-----------------------------------------

// Primary colored button with white text.

.btn-custom-4 {
    padding: $spacing-sm $spacing-lg;
    background: $primary-color;
    border-color: $primary-color;
    font-weight: bold;
    color: $light;
    letter-spacing: 1.5px;
    font-size: $font-size-base;
    border-radius: 0;
    transition: all 0.5s;

        @include mediaQ-max($bp-sm) {
           padding: $spacing-sm $spacing-lg;
           font-size: $font-size-sm;
        }

        &:hover {
            background: $dark;
            border-color: $dark;
            color: $light;
        }
}

.btn-custom-4--small {
    font-size: $font-size-sm;
    letter-spacing: 1px;
}