#home_carousel {

    .item {
        position: relative;
        //height: 100vh;
    }

    img {
        width: 100%;

            @include mediaQ-max($bp-sm) {
                position: relative;
                left: 50%;
                transform: translate(-50%);
                max-width: none;
                width: initial;
                height: 82vh;
        }
    }

    li {
        background: $dark;
        border-color: $dark;
        margin: 0 $spacing-lg;
    }

    li.active {
        background: $primary-color;
        border-color: $primary-color;
    }


    .item__text-container__inner-box {
        position: absolute;
        top: 50%;
        transform: translatey(-50%);

            @include mediaQ-max($bp-sm) {
                width: 100%;
                text-align: center;
                padding: $spacing-base 0;
            }
    }
}