.features-container {
    margin-top: ($spacing-base * 4);
}

.feature {
    text-align: center;
    padding: ($spacing-lg * 2) $spacing-lg $spacing-lg $spacing-lg;

    img {
        max-width: 120px;
    }
}