.blog-post {
    padding: $spacing-base;
    margin-bottom: $spacing-base * 2;
    border-bottom: 1px solid $light-grey;

    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
}

.blog-post__img {

}

.blog-post__content {

}